@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">HSWebAppTWO. Updated at 01/21/2023 02:19pm Central</h1>
    <h1 class="display-4">Machine Name: @System.Environment.MachineName</h1>
    <h1 class="display-4">Chandra</h1>
    @*<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>*@
</div>
